body {
    font-family: Arial, sans-serif;
    background: #f7f3f8;
    margin: 0;
}

main {
    max-width: 500px;
    margin: 30px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000022;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: block;
    font-weight: bold;
}

textarea, input[type="text"], input[type="date"], select {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #aaa;
}

fieldset {
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;

}

legend {
    font-weight: bold;
}

.submitBtn {
    padding: 12px;
    font-size: 16px;
    background: #4b024b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submitBtn:hover {
    background: #6a0a6a;
}

footer {
    text-align: center;
    padding: 20px;
    background: #4b024b;
    color: white;
    margin-top: 40px;
}

.backLink {
    display: inline-block;
    margin-top: 20px;
    color: #4b024b;
}
